

.fira-code-fira {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 160px;
  

}
.nav-title{
  font-weight: bold;
  font-size: 32px;

}
nav ul li{
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}

.btn-primary{
  font-weight: 600;
  color: #006A50;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 8px;
  border-color: #006A50;


  
}
.secondary-bg{
  
  border-radius: 24px;
  /* max-width: 1280px;
  margin: 80px 160px 540px 160;
  padding: 117px 60px;
  margin-top: 117px; */

}

.btn-secondary{
  
  background-color: #006A50;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;

}
.banner-content{
  max-width: 622px;

}
.banner{
  display: flex;
  justify-content: space-around;
  margin: 0px 160px 0px 160px;
  padding: 100px;
  background-color: rgba(198, 228, 214, 1);
  gap: 80px 100px ;
  width: 1280px 560px;
  border-radius: 24px;
}

/* banner styles */
.banner-greetings{
  font-size: 500;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}
.banner-title{
  font-size: 56px;
  font-weight: 800;
  text-decoration: #0E0E0E;
  width: 620;

  
}
.banner-picture{
  width: 484px;
  
}
/* main{
  max-width: 1280px;
  margin: 0 auto;
  padding: 117px 60px;
  margin-top: 117px;
} */
.text-left{
  text-align: left;
}
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.bg-color{
  background-color: rgba(129, 180, 252, 1);
}
.bg-color-two{
  background-color: rgba(198, 228, 214, 1);
}
.bg-color-three{
  background-color: rgba(247, 235, 207, 1);
}

.section-title-two{
  padding: 40px 160px 24px 160px ;
}
.section-description {
  padding-top: 24px;
  padding-bottom: 32px;
}
.section-title{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 24px;

}
.btn-one{
  background-color: #5490F5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
.btn-two{
  background-color: rgba(9, 161, 92, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;

}
.btn-three{
  background-color: rgba(255, 194, 57, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;

}
.btn-shape{
  background-color:rgba(0, 106, 80, 1);
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 26px;
  border-radius: 8px;
  border: none;
}
/* resume all-over */
 .resume-full{
  padding: 160px;
}
.resume{
  display: flexbox;
  justify-content: space-between;
}
.resume-title{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}
.resume-picture{
  width: 134px;
  

}
.resume-max{
  width: 744px;

}
 


.resume-content{
  
  text-align: left;
  padding: 0px 0px;

}

.resume-h-three{
  font-weight: bold;
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  
}
.resume-change{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.news-img{
  text-align: left;
  padding: 48px 48px 48px 48px;
  
}
.img-new{
  border-radius: 24px;
  max-width: 408px;
}
.sec-title{
  max-width: 1280px;
  padding: 48px;
}
.banner-last{
  display: flex;
  
}
.news-sec{
  padding-left: 12px;
}
/* card styles */
.card-title{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
.card-description{
  font-size: 16px;
  font-weight: normal;
}
.card-dt{
  font-size: 16px;
  font-weight: normal;

}
.card-img{
 width: 408px;
 border-radius: 24px;
 margin: 48px;


}
.card{
  display: flex;
  justify-content: space-between;
  margin: 0 160px 24px 160px;
}
.card-content{
  width: 744px;
  
}
/* .card-new{
  width: 408px;
 border-radius: 24px;
 margin: 48px;
 text-align: left;

} */
